/* Fonts */

@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bebasneue/v2/JTUSjIg69CK48gW7PXoo9Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Girassol';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/girassol/v6/JTUUjIo_-DK48laaNB9KxWs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lobster/v23/neILzCirqoswsqX9zoKmMw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Newsreader';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/newsreader/v7/cY9kfjOCX1hbuyalUrK439vogqC9yFZCYg7oRZaLP4obnf7fTXglsMzPSNZHFjQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Body */

body {
    background-color: floralwhite;
    max-height: 100%;
    width: 100%;
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}

h1 {
    font-family: 'Bebas Neue', cursive;
}

h2 {
    font-family: 'Newsreader', serif;
}

h3 {
    font-family: 'Bebas Neue', cursive;
}

h4 {
    font-family: 'Lobster', cursive;

}

p {
    font-family:'Girassol', cursive; 
}

a {
    font-family: 'Bebas Neue', cursive;
    font-weight: bold; 
}

.sectionHeader{
    text-align: center;
    border: 5px black groove;
    width: auto;
    padding: 5px;
    background-image: url('media/productsH2background.png');
    background-size: contain;
    box-shadow: 5px 5px darkred;
}

/* Header & Nav */

header {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    color: ivory;
    background-color: black;
    box-shadow: 5px 5px darkred;
}

.headerDiv, .footerDiv {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    max-width: 20%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%; 
    font-size: 1.5vw; /* set size for smaller screens */
}

nav {
    display: flex;
    max-width: 33%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    width: 100%;
}

nav li {
    display: inline;
    font-size: 1.5vw;
/* Need to set size for smaller screen */
}

nav a {
    color: ivory;
}

/* Splash & Title */

#titleSplash {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    background-image: url('media/splashRedacted.jpg');
    background-position: center;
    background-repeat: repeat-x;
    background-size: auto;
    min-height: 333px;
    max-height: 667px;
    justify-content: center;
    align-content: center;
    justify-self: center;
    margin-top: 10px;
    margin-left: 7%;
    margin-right: 7%;
    box-shadow: 5px 5px darkred;
}

#titleSplash h1 {
    text-align: center;
    justify-self: center;
    align-self: center;
    font-size: 5vw;
    color: white;
}

/* Mission Statement */

#mission {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    height: 500px;
    justify-content: center;
    align-content: center;
    background-image: url('media/dick.jpg');
    background-repeat: repeat;
    background-size: auto;
    margin-top: 3%;
    margin-left: 7%;
    margin-right: 7%;
    justify-self: center;
    max-height: 15%;
}

#missionStatement {
    width: 90%;
    border: 5px double black;
    opacity: .75;
    text-align: center;
    justify-self: center;
    align-self: center;
    color: black;
    background-color: white;
    font-size: 2vw;
    line-height: 1.5;
}

/* Products and Employees */

.productEmployeeSections {
    display: flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: 3%;
    margin-right: 7%;
    margin-left: 7%;
    justify-content: space-between;
    align-content: center;
}

.bigBoxDiv {
    display: flex;
    margin-top: 3%;
    margin-left: inherit;
    margin-right: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 2;
    flex-shrink: 1;
    justify-content: space-between;
    align-content: center;
}

.productBox {
    max-width: 20%;
    height: auto;
    text-align: center; 
    align-content: center;
    border: 5px black solid;
    padding: 10px;
    line-height: 1.5;
    background-color: lightsteelblue;
    box-shadow: 5px 5px darkred;
}

.productImg {
    max-width: 100%;
    height: auto;
    justify-self: center;
    align-content: center;
}

.employeeBox {
    max-width: 20%;
    height: auto;
    text-align: center; 
    align-content: center;
    border: 5px black solid;
    padding: 10px;
    line-height: 1.5;
    background-color: lightsteelblue;
    box-shadow: 5px 5px darkred;
}

.employeeImg {
    max-width: 100%;
    height: auto;
    justify-self: center;
    align-content: center;
    border-radius: 50%;
}

/* Footer */

footer {
    margin-top: 3%;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    color: ivory;
    background-color: black;
    margin-bottom: 0px;
}

/* Tablet Landscape & Portrait */

/* Phone Landscape & Portrait 
    -don't display product descriptions/alternate short descriptions
    -set min font sizes, dont forget header and footer

*/

